body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.divA {
    background-color: #FFA500;
    width: 500px;
    height: 500px;
    position: relative;
}

.divB {
    background-color: #00FF00;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pC {
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divD {
    background-color: #ADD8E6;
    width: 50vw;
    height: 50vh;
}

.divE {
    background-color: #00BFFF;
    width: 50%;
    height: 50vh;
}